@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Gruppo', cursive;
  height: 100%;
}

h1 {
  text-align: center;
}

form {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.top {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
}

.cell {
  border: 2px solid rgb(0, 100, 255);
  font-size: 50px;
  height: 150px;
  width: 150px;
}

.cell:hover {
  border-color: #fffaf0;
}

.game-board {
  width: 462px;
}

.hide-board {
  display: none;
}

.hide {
  display: none;
}
